@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.header {
	background:
		linear-gradient(
			180deg,
			rgba(36, 43, 51, 1) 11.979%,
			rgba(45, 52, 60, 0.38) 51.042%,
			rgba(36, 43, 51, 1) 92.188%
		),
		image-set(
			'../../assets/image/header/header-bg.avif' type('image/avif'),
			'../../assets/image/header/header-bg.webp' type('image/webp'),
			'../../assets/image/header/header-bg.jpg' type('image/jpg')
		);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 52.5em;

	&__top {
		position: relative;
		z-index: 1;
		padding-top: 1.9em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12.5em;

		@include mix.mediaTablet {
			margin-bottom: 6.5em;
		}
	}

	&__title {
		text-align: center;
		padding-bottom: 1.66em;
		font-family: var.$font-accent;
		color: var.$accent;
		font-size: 3rem;
		font-weight: 700;
		line-height: 1.33em;

		@include mix.mediaTablet {
			font-size: 2rem;
		}
	}

	&__mouse-icon {
		display: flex;
		justify-content: center;
		margin-bottom: 12.5em;

		@include mix.mediaTablet {
			margin-bottom: 6.5em;
		}
	}

	@include mix.mediaTablet {
		height: unset;
	}
}

.menu__btn {
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 21;
	width: 30px;
	height: 20px;

	span {
		background-color: white;
		width: 100%;
		height: 2px;
		transition: transform 0.3s ease-in-out;
	}

	&::after,
	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		background-color: white;
		transition: transform 0.3s ease-in-out;
	}

	&::after {
		top: 0;
	}

	&::before {
		bottom: 0;
	}

	&--active {
		span {
			display: none;
		}

		&::after {
			top: 9px;
			transform: rotate(45deg);
		}

		&::before {
			bottom: 9px;
			transform: rotate(-45deg);
		}
	}

	@include mix.mediaTablet {
		display: flex;
	}
}

.menu__list {
	display: flex;
	gap: 2.5em;
	&__link {
		font-size: 0.87rem;
		font-weight: 400;
		line-height: 1rem;
		letter-spacing: 5%;
	}

	@media (max-width: 768px) {
		position: absolute;
		min-height: 110vh;
		inset: -10px;
		background-color: var.$dark;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateY(-100%);
		transition: transform 0.3s ease-in-out;
		z-index: 20;
	}

	&--active {
		transform: translateY(0);
		transform: scale(1);
	}
}

.header__footer {
	display: block;
	max-width: 33.75em;
	margin: 0 auto;
	padding-bottom: 4.68em;
	.info {
		display: flex;
		justify-content: space-between;
		&__link {
			display: flex;
			font-size: 1.12rem;
			gap: 0.93em;
			font-weight: 400;
			line-height: 1.31rem;
		}

		@include mix.mediaTablet {
			flex-direction: column;
			align-items: center;
			gap: 1.87em;

			&__link {
				font-size: 0.9rem;
			}
		}
	}
}
